//- kế thừa 
extends ../../layouts/default.pug 

//- nhúng file 
include ../../mixins/alert.pug

block main
    if (role.permissions.includes("roles_view"))
        +alert-error(5000)

        if record.title
            h1(class="mb-4") #{record.title}

        if record.description
            div(class="mb-4") !{record.description}
        if (role.permissions.includes("roles_edit"))    
            a(
                href=`${prefixAdmin}/roles/edit/${record.id}`
                class="btn btn-warning "
            ) Chỉnh sửa
        script(src="admin/js/roles")
    else
      h1 Không có quyền truy cập