extends ../../layouts/default.pug

include ../../mixins/filter-status.pug
include ../../mixins/filter-sort.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/table-tree.pug
block main
  +alert-success("5000")
  +alert-error("5000")
  h1 Trang danh sách sản phẩm
  div(class ="dropdown ml-1" dropdown-status)
    button.dropdown-btn.hienthiDrop(type="button") #{name}
    .dropdown-content
      each item in filterStatus
        a(a-status value=`${item.status}` ) #{item.name}
  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          +filter-status(filterStatus)
        .col-6 
          +search(keyword)   

  .card.mb-3 
    .card-header Sắp xếp
    .card-body
      .row
        .col-4 
          +filter-sort(filterSort)



  .card.mb-3 
    .card-header Danh sách sản phẩm
    .card-body
      .row
        .col-8
          +form-change-multi(`${prefixAdmin}/products-category/change-multi?_method=PATCH`)
        .col-4 
          a(
            href=`${prefixAdmin}/products-category/create`
            class="btn btn-outline-success"
          ) + Thêm mới
      table(
        class="table table-hover table-sm"
        checkbox-multi
      )
        thead
          tr
            th
              input(type="checkbox" name="checkall")
            th STT
            th Hình Ảnh
            th Tiêu đề
            th Vị trí
            th Trạng thái
            th Hành động
        tbody
        +table-tree(records)

  +pagination(pagination) 
  
  form(
    action=""
    method="post"
    id="form-change-status-category"
    data-path = `${prefixAdmin}/products-category/change-status`
   ) 
  form(
    action=""
    method="post"
    id="form-delete-item-category"
    data-path = `${prefixAdmin}/products-category/delete`
   ) 
  form(
    action=""
    method="get"
    id="form-thungrac"
    data-path = `${prefixAdmin}/products-category/thungrac`
  ) 

  

  
